<h3>playlist of videos</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <td>id</td>
      <td>title</td>
      <td>code</td>
      <td>description</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of videos" (click)="onSelect(v)">
      <td>{{ v.id }}</td>
      <td>{{ v.title }}</td>
      <td>{{ v.code }}</td>
      <td>{{ v.description | uppercase }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="videos.length == 0">zero items inside videos</div>
<div *ngIf="show">Text to show</div>
<div>total items {{totalItems()}} and for iterator  {{totalItemsFor()}}</div>